@CHARSET "UTF-8";


#graphHolder3 { padding: 10px; border: 1px solid #f3f3f3; overflow: auto; float: left; }
#graph3 { background-color: #f3f3f3; padding: 10px 0 10px 10px; }

#graph { clear: both; }

.graphValuegraph5 { }


.subBarsgraph6 { padding-left: 5px; }


.graphResolutionByYearTitle { font-weight: bold; padding: 15px; font-size: 14px; text-align: center; }
.graphResolutionByYearHolder { border: 1px solid #ccc; padding: 10px; width: 600px; margin: 30px 0px; float: left; }


.graphBargraph5 { background: url(web-ruler-600-vertical.gif); }


.subMenu { clear: both; }
.subMenu a { padding: 5px; background-color: #ccc; color: #3D0017; text-decoration: none; float: left; }
.subMenu a:hover { background-color: #333; }

.dyn { background-color: yellow; }

#graphHolder5simpleGraph, #graphHolder2multiGraph, #graphHolder3stackedGraph { float: left; margin-top: 30px; font-family: tahoma; font-size: 12px; }

.comment { color: #808000; }

#doc, #note, #spread, #examples { padding-top: 40px; line-height: 20px; clear: both; }

#head { float: left; width: 400px; padding: 0 50px; font-size: 16px; }
#head h1 { background: url(jqbargraphlogo.png) no-repeat; padding-left: 40px; font-size: 35px; }
#head h1 small { font-size: 22px; }

#head .download a { text-decoration: none; font-style: italic; font-size: 16px; }
#head .download a:hover { text-decoration: underline; }

#head .headText {  }

#examples #exampleSimple, #examples code, #examples .exampleMenu, #examples #exampleMulti { float: left; }
#examples .exampleMenu { padding-left: 20px; width: 150px; }
#examples .exampleMenu { padding-top: 20px; }
#examples .exampleMenu a { display: block; }
#examples code { width: 400px; padding-left: 20px; }
#examples h2 { padding-bottom: 10px; }

